@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

.header {
  margin: auto;
  width: 90%;
  font-family: "Roboto Bold";
  color: #cccccc;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 38px;
}

.hr {
  width: 95%;
}
