@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.header {
  margin: auto;
  width: 90%;
  font-family: "Poppins";
  color: #f7fff7;
  display: flex;
  justify-content: space-between;
}

.header_wrapper {
  background-color: #4d4f9e;
}

.header h1 {
  font-size: 38px;
}
.menu {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  display: none;
}

@media (max-width: 750px) {
  .time {
    display: none;
  }
  .menu {
    display: block;
  }
}
