.wrapper {
  width: 90%;
  border-radius: 30px;
  overflow: hidden;
  margin: 10px auto;
  color: #6a6bce;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: PoppinsLight;
  color: white;
  position: relative;
}

.wrapper h1 {
  margin: 0 0 10px 0;
}
.title {
  font-size: 30px;
  font-weight: bold;
  text-wrap: wrap;
}

.responsible_person {
  font-size: 20px;
  font-weight: bold;
}

.description {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.pen {
  position: absolute;
  right: 50px;
  top: 0;
  width: 20px;
  padding: 5px;
  border: 2px solid #4d4f9e;
  border-radius: 10px;
  cursor: pointer;
}

.pen:hover {
  background-color: #4d4f9e;
  color: white;
}
