.wrapper {
  width: 90%;
  height: 130px;
  border-radius: 30px;
  overflow: hidden;
  margin: 10px auto;
  color: #6a6bce;
}

.wrapper:hover > * {
  background-color: #6a6bce;
  color: #e1e2ff;
}

.wrapper:hover {
  overflow: none;
  scale: 1.05;
}

.main {
  height: 85px;
  background: #e1e2ff;
  margin-bottom: 5px;
  cursor: grab;
  justify-content: start;
  display: flex;
  width: 100%;
  position: relative;
}

.details {
  height: 40px;
  background: #e1e2ff;
  margin-bottom: 5px;
  cursor: pointer;
}

.statusColorInProgress {
  background-color: #5c90ff;
  width: 5%;
  height: 100%;
}

.statusColorDone {
  background-color: #6bff85;
  width: 5%;
  height: 100%;
}

@font-face {
  font-family: PoppinsBold;
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: PoppinsLightItalic;
  src: url("../../assets/fonts/Poppins-LightItalic.ttf");
}

.details {
  text-align: center;
  padding: 7px;
  font-family: PoppinsLightItalic;
}
.data {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.data h3 {
  margin: 0;
  font-family: PoppinsBold;
  overflow: hidden;
  max-width: 300px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.data h2 {
  margin: 0;
  font-family: PoppinsBold;
  font-size: 14px;
  overflow: hidden;
  max-width: 300px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  font-size: 15px;
  margin: 0;
}

.responsiblePerson p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  font-size: 15px;
}

.trash {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .responsiblePerson p {
    max-width: 150px;
  }

  .description {
    max-width: 150px;
  }

  .data h2 {
    max-width: 150px;
  }

  .data h3 {
    max-width: 150px;
  }
}
